@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--fonte);
}

:root {
    --cor1:hsl(300, 43%, 22%);
    --cor2: hsl(333, 80%, 67%);
    --cor3: hsl(303, 10%, 53%);
    --cor4: hsl(300, 24%, 96%);
    --cor5: hsl(0, 0%, 100%);
    --fonte: 'League Spartan', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    text-align: center;
}

h1 {
    width: 200px;
    margin: auto;
    padding-bottom: 30px;
    color: var(--cor1);
}

.titulo p {
    width: 295px;
    margin: auto;
    padding-bottom: 40px;
    color: var(--cor3);
}

.medidor li {
    height: 70px;
    width: 330px;
    margin: auto;
    list-style-type: none;
    background-color: var(--cor4);
    margin-bottom: 25px;
    border-radius: 15px;
}

.medidor img {
    padding-top: 10px;
}

.medidor p {
    padding-top: 10px;
    color: var(--cor1);
    font-weight: bolder;
}

.comentarios li {
    background-color: var(--cor1);
    width: 330px;
    height: 300px;
    margin: auto;
    list-style-type: none;
    border-radius: 15px;
    padding-top: 40px;
    margin-bottom: 25px;
}

.comentarios li .resenha {
    display: flex;
    margin-top: -25px;
}

.comentarios img {
    border-radius: 50%;
    width: 50px;
    margin-right: 230px;
}

.perfil .verificado {
    padding-top: 25px;
    color: var(--cor2);
}

.comentarios p {
    padding-top: 20px;
    width: 240px;
    margin: auto;
    color: var(--cor5);
}

.perfil {
    display: flex;
    flex-direction: column;
}

.perfil p {
    margin-top: -70px;
    text-align: left;
    padding-left: 100px;
    padding-bottom: 50px;
    margin-right: 150px;
}

.comentarios .resenha {
    width: 250px;
    text-align: left;
    font-size: 20px;
    line-height: 22px;
}

@media (min-width: 1000px) {

    .geral {
       display: flex;
       flex-direction: row;
    }

    .titulo {
        margin-left: 80px;
    }

    h1 {
        font-size: 60px;
        width: 390px;
        text-align: left;
        margin-left: 0;
    }

    .titulo p {
        text-align: left;
        font-size: 20px;
        width: 500px;
    }

    .medidor {
        margin-left: -170px;
    }

    .medidor li {
        display: flex;
        flex-direction: row;
        padding: 20px;
        text-align: right;
        width: 400px;
    }

    .medidor li p {
        padding-left: 10px;
    }

    li img {
        height: 25px;
        padding: 4px;
    }


    .medidor .p1 {
        margin-left: 300px;
    }

    .medidor .p2 {
        margin-left: 400px;
    }

    .medidor .p3 {
        margin-left: 500px;
    }

    .comentarios {
        display: flex;
        margin: auto;
    }

    .comentarios li {
        margin: 20px;
        height: 200px;
        padding-bottom: 200px;
    }

    .comentarios li img {
        height: 50px;
    }

    .comentarios .resenha {
        font-size: 14px;
    }

    .comentarios .comen2 {
        margin-top: 40px;
    }

    .comentarios .comen3 {
        margin-top: 80px;
    }
 
}